* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.2rem;
  color: black;
  font-family: " Arial, sans-serif";
}

/* My home page section */
.content {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(https://images.pexels.com/photos/2528118/pexels-photo-2528118.jpeg?auto=compress&cs=tinysrgb&w=600);
  opacity: 0.9;
  padding: 15rem 0rem 0rem 10rem;
  line-height: 1.5rem;
  /* position: relative; */
}
.name h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.icons-ic {
  margin: 0.3rem;
}
.icons-ic i {
  background-color: rgb(208, 196, 196);
  margin: 0 auto 20px auto;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding-top: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.6rem;
}
.icons-ic i:hover {
  background: orange;
}
.name h3 {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav-bar {
  padding-bottom: 1rem;
  position: fixed;
  background-color: rgb(145, 143, 143);
  width: 100%;
  z-index: 999;
  padding-left: 25rem;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}
.nav-bar .nav-list {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  margin-top: 1rem;
}
.nav-bar .nav-list .nav-link a:link,
.nav-bar .nav-list .nav-link a:visited {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}
.nav-bar .nav-list .nav-link a:hover,
.nav-bar .nav-list .nav-link a:active {
  color: orange;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(251, 225, 225);
  padding: 1rem 5rem;
}
.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* My About Section */

.word {
  text-align: center;
  margin-top: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.word .par {
  font-size: 5rem;
  color: rgb(245, 244, 244);
}
.word .para {
  position: absolute;
  color: rgb(78, 78, 78);
  margin-top: -3rem;
  padding-left: 30rem;
  font-size: 3rem;
}
.container {
  padding: 2rem 6rem 0rem 6rem;
}
.both {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}
.image-box img {
  height: 85vh;
  width: 25rem;
  /* object-fit: cover; */
}
.part {
  display: flex;
  padding-top: 1rem;
  gap: 10rem;
}
.key {
  display: flex;
  padding-top: 3rem;
  gap: 12rem;
}
.fact {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.ion-ribbon-b,
.ion-ios-browsers-outline,
.ion-android-time,
.ion-happy-outline,
.ion-chevron-right {
  color: orange;
}
.skills {
  padding-top: 4rem;
  line-height: 0.9rem;
}
.html-skills {
  display: flex;
  justify-content: space-between;
  font-family: serif;
  font-weight: bold;
  font-size: 1rem;
}
.bar {
  height: 2vh;
  display: block;
  background-color: rgb(221, 219, 219);
}
.bar span {
  height: 2vh;
  float: left;
  background-color: orange;
}
.html {
  width: 100%;
  animation: html;
}
.css {
  width: 85%;
  animation: css;
}
.js {
  width: 50%;
  animation: html;
}

/* My Resume Section */

.word-two {
  text-align: center;
  margin-top: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.word-two .par-two {
  font-size: 5rem;
  color: rgb(245, 244, 244);
}
.word-two .para-two {
  position: absolute;
  color: rgb(78, 78, 78);
  margin-top: -3rem;
  padding-left: 28rem;
  font-size: 3rem;
}
.section {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.education-section h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.education-section .level {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: orange;
}
.education-section p {
  font-size: 1.3rem;
}
.experience-section h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.experience-section .level {
  color: orange;
  font-family: "Roboto", sans-serif;
}
.experience-section p,
ul li {
  font-size: 1.3rem;
}

/* My service Section */

.word-three {
  text-align: center;
  margin-top: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.word-three .par-three {
  font-size: 5rem;
  color: rgb(245, 244, 244);
}
.word-three .para-three {
  position: absolute;
  color: rgb(78, 78, 78);
  margin-top: -3rem;
  padding-left: 26rem;
  font-size: 3rem;
}
.cards {
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: flex;
  height: 50vh;
  width: 72rem;
  gap: 2rem;
}
.card-one {
  padding: 30px;
  /* position: relative; */
  /* overflow: hidden; */
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  /* transition: all 0.3s ease-in-out; */
  text-align: center;
  border: 1px solid #fff;
}
.card-one p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.card-one .icons {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background: #fff4df;
}
.paragr {
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.card-one i {
  font-size: 36px;
  line-height: 1;
  color: #ffb727;
}
.card-one:hover {
  border: 1px solid orange;
}
.card-one:hover .paragr {
  color: orange;
}

/* My Portfolio Section  */

.word-four {
  text-align: center;
  margin-top: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.word-four .par-four {
  font-size: 5rem;
  color: rgb(245, 244, 244);
}
.word-four .para-four {
  position: absolute;
  color: rgb(78, 78, 78);
  margin-top: -3rem;
  padding-left: 25rem;
  font-size: 3rem;
}
.image-cards {
  width: 100%;
  padding: 50px 50px;
}
.image-cards .apps-box {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  transition: all 03s;
  z-index: -5;
}
.image-cards .apps-box .apps {
  overflow: hidden;
}
.image-cards .apps-box .apps img {
  width: 350px;
  height: 250px;
  position: relative;
  transition: all 0.8s ease-in-out;
}
.image-cards .apps-box .apps:hover img {
  transform: scale(1.1);
  opacity: 0.4;
}
.image-cards .apps-box .apps h3 {
  position: absolute;
  font-size: 30px;
  font-family: mv boli;
  opacity: 0;
  padding-left: 120px;
  color: orange;
  padding-top: 20px;
  transition: 0.3s;
}
.image-cards .apps-box .apps:hover h3 {
  opacity: 1;
}
.image-cards .apps-box .apps p {
  position: absolute;
  font-size: 20px;
  opacity: 0;
  padding-left: 50px;
  color: white;
  padding-top: 80px;
  transition: 0.3s;
}
.image-cards .apps-box .apps:hover p {
  opacity: 1;
}
.apps {
  background: black;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* My contact Section  */

.word-five {
  text-align: center;
  margin-top: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.word-five .par-five {
  font-size: 5rem;
  color: rgb(245, 244, 244);
}
.word-five .para-five {
  position: absolute;
  color: rgb(78, 78, 78);
  margin-top: -3rem;
  padding-left: 27rem;
  font-size: 3rem;
}
.test {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.address {
  background-color: white;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  margin: 1rem;
  width: 35rem;
  height: 6rem;
  padding: 1rem;
}
.test i {
  background: #fff4df;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  padding-top: 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
#social {
  margin-top: -1.5rem;
  margin-left: 3.5rem;
}
#social i {
  background-color: white;
  border: 1px solid grey;
  height: 2rem;
  width: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
#social i:hover {
  background-color: orange;
  color: white;
}
.send-text {
  background-color: white;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  width: 100%;
  height: 65vh;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 2rem 2rem 1rem;
}
.your-name {
  padding: 0.6rem;
  background-color: white;
  font-size: 1.2rem;
  border: 1px solid rgb(182, 181, 181);
  outline: none;
}
.your-email {
  padding: 0.6rem;
  background-color: white;
  border: none;
  font-size: 1.2rem;
  border: 1px solid rgb(182, 181, 181);
  outline: none;
}
.subject {
  padding: 0.6rem;
  width: 67rem;
  margin: 1rem;
  font-size: 1.2rem;
  background-color: white;
  border: none;
  border: 1px solid rgb(182, 181, 181);
  outline: none;
}
.message {
  margin: 1rem;
  padding: 0.6rem;
  color: black;
  font-size: 1.2rem;
  background-color: white;
  border: none;
  border: 1px solid rgb(182, 181, 181);
  outline: none;
}
.name-email {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.name-email .your-name,
.your-email {
  width: 33rem;
}
.message {
  width: 67rem;
  height: 25vh;
  border: 1px solid rgb(182, 181, 181);
}
button {
  padding: 0.6rem 2rem;
  text-align: center;
  margin-left: 30rem;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}
button:hover {
  opacity: 0.8;
}
footer {
  position: relative;
  width: 100%;
  background-color: rgb(125, 125, 236);
  min-height: 100px;
  padding: 20px 50px;
}
.social-icons {
  display: flex;
}
.social-icons li {
  list-style: none;
  text-align: center;
}
.social-icons li a {
}

/* Responsineness */
@media screen and (max-width: 800px) {
  .nav-bar {
    padding-left: 90px;
  }
  .content {
    width: 100%;
    height: 80vh;
    background-position: bottom;
  }
  .content h3 {
    font-size: 28px;
  }
  .content p {
    font-size: 25px;
  }
}
